<section id="products" class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let d of products; index as productId">
          <div class="card_book">
            <div class="card">
              <div class="card-body text-center">
                <p>
                  <img class="img-fluid" src="{{d.imagen}}" alt="{{d.titulo}}" [routerLink] ="['/wallpapper',d.id]">
                </p>
                <h4  class="card-title">{{d.name}}</h4>
                <p class="card-text">
                  {{d.descripcion }}
                </p>
                <div class="container-precio-idioma">

                  <p class="badge badge-info">
                    {{d.vistas}}
                  </p>
                  <p class="badge badge-info">
                    {{d.estrellas}}
                  </p>
                  <p class="badge badge-info">
                    {{d.likes}}
                  </p>
                  <p class="badge badge-info">
                    {{d.descargas}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>