.producto{
	flex: 350px;
	margin-left: 1%;
}
.lista-productos{
	width: 98%;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	margin-top: 10px;
}
.imagenp{
	transform: scale(0.9);
}
#ca{
	margin: auto;
	margin-top: 2%;
	width: 70%;
	
}
.titulo-productos {margin: auto;}

.row{
	width: 100%;
}