<section id="register" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
  
        <div class="col-6 col-xs-7 col-sm-7 col-md-7 mx-auto">
          <div class="card_register">
            <div class="card">
              <div class="card-body text-center">
                <form (ngSubmit)="onAddUser(f)" #f="ngForm">
                  <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                  <div class="alert alert-danger" role="alert" *ngIf="isError">
                    {{msgError}}
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" [(ngModel)]='name' name="name" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="date" class="form-control" id="date" [(ngModel)]='date' name="date" placeholder="Fecha de Nacimiento">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required minlength="8">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" required minlength="5"
                      maxlength="10">
                  </div>
                  <hr>

                  <div class="form-group">
                    <h5>Seleccionar image:</h5>
                    <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
                  </div>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success"  role="progressbar" [style.width]="(uploadPercent | async) +'%'" 
                    [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'">
                    </div>
                  </div>

                  <br>
                  
                  <input #imageUser type="hidden" [value]="urlImage | async">

                  <button *ngIf="urlImage | async; else btnDisabled" type="submit" class="btn btn-lg btn-primary btn-block">Register</button>

                  <ng-template #btnDisabled>
                    <button type="submit" disabled class="btn btn-lg btn-secondary btn-block">Register</button>
                  </ng-template>

                  <div class="form-group">
                    <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                      <span class="fa fa-facebook"></span>
                      FACEBOOK
                    </button>
                    <button class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
                      <span class="fa fa-google"></span>
                      GOOGLE
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>