  
<div class="container">
  <section id="profile" >
    <div class="row">
      <div class="col-6 col-xs-7 col-sm-7 col-md-7 mx-auto main-section text-center card">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 profile-header user-details">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">
                    <img src="{{user.photoUrl}}" class="rounded-circle img-thumbnail" alt="profile">
                </div>    
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-12 " id="dada">
                  {{user.email}}
              </div> 
            </div>   
          </div>
        </div>
        <div class="row user-details">
          <div class="col-12">
            
            <h5 >{{user.name}}</h5>
            <p>
              
            </p>

            <hr>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores suscipit itaque minima quae.</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
